services:
  app:
    build:
      context: .
      dockerfile: build/Dockerfile
    ports:
      - "8080:8080"
    env_file:
        - .env
    depends_on:
      db:
        condition: service_healthy
    networks:
      - internal

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}" ]
      interval: 5s
      timeout: 3s
      retries: 5
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./pkg/migrations:/docker-entrypoint-initdb.d
    networks:
      - internal

  caddy:
    image: caddy:2
    restart: unless-stopped
    ports:
        - "80:80"
        - "443:443"
    volumes:
        - ./build/Caddyfile:/etc/caddy/Caddyfile:ro
        - /home/althgamer/admin_frontend/web:/srv/beavers_admin:ro
        - caddy_data:/data
        - caddy_config:/config
    depends_on:
        - app
    networks:
        - internal

volumes:
  pgdata:
    external: false
  caddy_data:
  caddy_config:

networks:
  internal:
    driver: bridge
