definitions:
  models.AuthBookRequest:
    properties:
      book_id:
        type: integer
    type: object
  models.AuthStatus:
    properties:
      display_name:
        type: string
      group:
        type: string
      link_token:
        type: string
      link_token_ttl_sec:
        type: integer
      status:
        type: string
    type: object
  models.DeleteUserResponse:
    properties:
      book_id:
        type: integer
      deleted:
        type: boolean
    type: object
  models.ErrorResponse:
    properties:
      error:
        type: string
      message:
        type: string
    type: object
  models.LoginRequest:
    properties:
      mail:
        type: string
      password:
        type: string
    required:
    - mail
    - password
    type: object
  models.LoginResponse:
    properties:
      session:
        $ref: '#/definitions/models.Session'
      user:
        properties:
          first_name:
            type: string
          id:
            type: integer
          mail:
            type: string
          surname:
            type: string
        type: object
    type: object
  models.RefreshTokenRequest:
    properties:
      refresh_token:
        type: string
    type: object
  models.RefreshTokenResponse:
    properties:
      session:
        $ref: '#/definitions/models.Session'
      user_id:
        type: integer
    type: object
  models.RegisterRequest:
    properties:
      mail:
        type: string
      password:
        type: string
      token:
        type: string
    required:
    - token
    type: object
  models.RegisterResponse:
    properties:
      ok:
        type: boolean
      user:
        properties:
          first_name:
            type: string
          id:
            type: integer
          surname:
            type: string
        type: object
    type: object
  models.ResetPasswordRequest:
    properties:
      mail:
        type: string
    required:
    - mail
    type: object
  models.ResetPasswordResponse:
    properties:
      mail:
        type: string
      message:
        default: If the email is registered, a password reset link has been sent.
        type: string
      ok:
        type: boolean
    type: object
  models.Session:
    properties:
      auth:
        properties:
          access_token:
            type: string
          expires_at:
            type: string
          refresh_token:
            type: string
        type: object
    type: object
  models.SetNewPasswordRequest:
    properties:
      new_password:
        type: string
      token:
        type: string
    required:
    - new_password
    - token
    type: object
  models.SetNewPasswordResponse:
    properties:
      message:
        type: string
      ok:
        type: boolean
    type: object
  models.Student:
    properties:
      birth_date:
        type: string
      book_id:
        type: integer
      group:
        type: string
      id:
        type: integer
      middle_name:
        type: string
      name:
        type: string
      surname:
        type: string
    type: object
  models.User:
    properties:
      birth_date:
        type: string
      book_id:
        type: integer
      group:
        type: string
      id:
        type: integer
      mail:
        type: string
      middle_name:
        type: string
      name:
        type: string
      password:
        items:
          type: integer
        type: array
      surname:
        type: string
    type: object
info:
  contact: {}
paths:
  /auth/check:
    post:
      consumes:
      - application/json
      description: |-
        Проверяет наличие студенческого билета в системе.
        Если студент не зарегистрирован, генерирует временный токен для регистрации.
      parameters:
      - description: Номер студенческого билета
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/models.AuthBookRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Студенческий найден, выдан регистрационный токен" example({"status":"free","display_name":"Иван","group":"ШАД-111",
            "LinkToken":"raw_token_string","LinkTokenTtlSec":300})
          schema:
            $ref: '#/definitions/models.AuthStatus'
        "400":
          description: Некорректный запрос — ошибка парсинга JSON
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "404":
          description: Студенческий не найден в базе
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "409":
          description: Пользователь с таким номером уже зарегистрирован
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "500":
          description: Ошибка при генерации или сохранении токена
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      tags:
      - auth
  /auth/login:
    post:
      consumes:
      - application/json
      description: |-
        Проверяет почту и пароль пользователя.
        При успешной авторизации выдает пару access и refresh токенов.
      parameters:
      - description: Данные для входа (почта и пароль)
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/models.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Успешная авторизация — возвращается пользователь и пара токенов"
            example({"user":{"id":1,"first_name":"Иван","surname":"Иванов"},"session":{"auth":{"access_token":"token
            string", "refresh_token":"token string","expires_at":"2024-01-01T00:00:00Z"}}})
          schema:
            $ref: '#/definitions/models.LoginResponse'
        "400":
          description: Некорректный запрос — ошибка парсинга JSON
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "401":
          description: Неверная почта или пароль
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "404":
          description: Пользователь с такой почтой не найден
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "500":
          description: Ошибка сервера при работе с базой данных или токенами
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      tags:
      - auth
  /auth/refresh:
    post:
      consumes:
      - application/json
      description: Принимает refresh токен, проверяет его валидность и возвращает
        новую пару токенов.
      parameters:
      - description: Refresh токен
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/models.RefreshTokenRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Успешное обновление токенов
          schema:
            $ref: '#/definitions/models.RefreshTokenResponse'
        "400":
          description: Некорректный JSON
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "401":
          description: Невалидный или просроченный refresh токен
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "500":
          description: Ошибка при обновлении/генерации токенов
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      tags:
      - auth
  /auth/register:
    post:
      consumes:
      - application/json
      description: Регистрирует нового пользователя на основе временного токена, выданного
        после проверки студенческого билета.
      parameters:
      - description: Почта, пароль и токен регистрации пользователя
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/models.RegisterRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Успешная регистрация" example({"ok":true,"user":{"id":1,"first_name":"Иван","surname":"Иванов"}})
          schema:
            $ref: '#/definitions/models.RegisterResponse'
        "400":
          description: Некорректный запрос или формат данных
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "401":
          description: Токен не найден или истёк
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "404":
          description: Студент с такой почтой не найден
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "409":
          description: Пользователь с такой почтой уже существует
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "500":
          description: Ошибка сервера (база данных, хеширование, транзакция)
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      tags:
      - auth
  /auth/reset_password:
    post:
      consumes:
      - application/json
      description: |-
        Отправляет на почту пользователя ссылку для сброса пароля.
        Если пользователь с указанной почтой существует — ему придёт письмо с временной ссылкой на установку нового пароля.
      parameters:
      - description: Почта пользователя
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/models.ResetPasswordRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Инструкция отправлена на почту
          schema:
            $ref: '#/definitions/models.ResetPasswordResponse'
        "400":
          description: Некорректный JSON
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "500":
          description: Ошибка при поиске пользователя или отправке письма
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      tags:
      - auth
  /auth/set_new_password:
    post:
      consumes:
      - application/json
      description: Устанавливает новый пароль по токену из письма. Токен действителен
        ограниченное время (15 минут).
      parameters:
      - description: Токен и новый пароль
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/models.SetNewPasswordRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Пароль успешно обновлён
          schema:
            $ref: '#/definitions/models.SetNewPasswordResponse'
        "400":
          description: Некорректный JSON
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "401":
          description: Невалидный или истекший токен
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "500":
          description: Ошибка при обновлении пароля
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      tags:
      - auth
  /helper/deleteUser:
    delete:
      consumes:
      - application/json
      description: Удаляет пользователя по номеру студенческого билета.
      parameters:
      - default: Bearer <token>
        description: Bearer токен
        in: header
        name: Authorization
        required: true
        type: string
      - description: Номер студенческого
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/models.AuthBookRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Пользователь успешно удалён" example({"deleted":true,"book_id":123456})
          schema:
            $ref: '#/definitions/models.DeleteUserResponse'
        "400":
          description: Некорректный JSON
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "404":
          description: Пользователь не найден
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "500":
          description: Ошибка при удалении пользователя
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      security:
      - BearerAuth: []
      tags:
      - users
  /helper/students:
    get:
      description: Возвращает всех студентов из таблицы students.
      parameters:
      - default: Bearer <token>
        description: Bearer токен
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Список студентов" example([{"id":1,"book_id":123456,"surname":"Иванов","name":"Иван","middle_name":"Иванович","birth_date":"2000-01-01T00:00:00Z","student_group":"ШАД-111"},
            {"id":2,"book_id":654321,"surname":"Петров","name":"Пётр","middle_name":"Петрович","birth_date":"1999-12-31T00:00:00Z","student_group":"ШАД-111"}])
          schema:
            items:
              $ref: '#/definitions/models.Student'
            type: array
        "500":
          description: Ошибка при запросе или чтении данных
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      security:
      - BearerAuth: []
      tags:
      - students
  /helper/users:
    get:
      description: Возвращает всех зарегистрированных пользователей из таблицы users.
      parameters:
      - default: Bearer <token>
        description: Bearer токен
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Список пользователей" example([{"id":1,"book_id":123456,"surname":"Иванов","name":"Иван","middle_name":"Иванович","birth_date":"2000-01-01T00:00:00Z","student_group":"ШАД-111","password":"hashed_password","mail":"string
            mail"}, {"id":2,"book_id":654321,"surname":"Петров","name":"Пётр","middle_name":"Петрович","birth_date":"1999-12-31T00:00:00Z","student_group":"ШАД-111","password":"hashed_password","mail":"string
            mail"}])
          schema:
            items:
              $ref: '#/definitions/models.User'
            type: array
        "500":
          description: Ошибка при запросе или чтении данных
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      security:
      - BearerAuth: []
      tags:
      - users
swagger: "2.0"
