definitions:
  models.Auth:
    properties:
      access_token:
        type: string
      expires_at:
        type: integer
      refresh_token:
        type: string
    type: object
  models.AuthBookRequest:
    properties:
      book_id:
        type: integer
    type: object
  models.AuthStatus:
    properties:
      display_name:
        type: string
      group:
        type: string
      link_token:
        type: string
      link_token_ttl_sec:
        type: integer
      status:
        type: string
    type: object
  models.DeleteUserRequest:
    properties:
      email:
        type: string
    type: object
  models.DeleteUserResponse:
    properties:
      deleted:
        type: boolean
      email:
        type: string
    type: object
  models.ErrorResponse:
    properties:
      error:
        type: string
      message:
        type: string
    type: object
  models.LoginRequest:
    properties:
      email:
        type: string
      password:
        type: string
    required:
    - email
    - password
    type: object
  models.LoginResponse:
    properties:
      auth:
        $ref: '#/definitions/models.Auth'
      user:
        $ref: '#/definitions/models.UserSubstructure'
    type: object
  models.ProfileResponse:
    properties:
      birthDate:
        type: string
      bookId:
        format: int64
        type: integer
      email:
        type: string
      middleName:
        type: string
      name:
        type: string
      roleLevel:
        format: int64
        type: integer
      studentGroup:
        type: string
      surname:
        type: string
    type: object
  models.RefreshTokenRequest:
    properties:
      refresh_token:
        type: string
    type: object
  models.RefreshTokenResponse:
    properties:
      auth:
        $ref: '#/definitions/models.Auth'
      user_id:
        type: integer
    type: object
  models.RegisterRequest:
    properties:
      email:
        type: string
      password:
        type: string
      token:
        type: string
    required:
    - token
    type: object
  models.RegisterResponse:
    properties:
      auth:
        $ref: '#/definitions/models.Auth'
      user:
        $ref: '#/definitions/models.UserSubstructure'
    type: object
  models.ResetPasswordRequest:
    properties:
      email:
        type: string
    required:
    - email
    type: object
  models.ResetPasswordResponse:
    properties:
      email:
        type: string
      message:
        default: If the email is registered, a password reset link has been sent.
        type: string
      ok:
        type: boolean
    type: object
  models.SetNewPasswordRequest:
    properties:
      new_password:
        type: string
      token:
        type: string
    required:
    - new_password
    - token
    type: object
  models.SetNewPasswordResponse:
    properties:
      message:
        type: string
      ok:
        type: boolean
    type: object
  models.Student:
    properties:
      birth_date:
        type: string
      book_id:
        type: integer
      group:
        type: string
      id:
        type: integer
      middle_name:
        type: string
      name:
        type: string
      surname:
        type: string
    type: object
  models.User:
    properties:
      birth_date:
        type: string
      book_id:
        type: integer
      email:
        type: string
      id:
        type: integer
      middle_name:
        type: string
      name:
        type: string
      password:
        items:
          type: integer
        type: array
      role_level:
        type: integer
      student_group:
        type: string
      surname:
        type: string
    type: object
  models.UserSubstructure:
    properties:
      book_id:
        type: integer
      email:
        type: string
      first_name:
        type: string
      id:
        type: integer
      role_level:
        type: integer
      student_group:
        type: string
    type: object
info:
  contact: {}
paths:
  /admin/delete_user:
    delete:
      consumes:
      - application/json
      description: Удаляет пользователя по адресу почты.
      parameters:
      - default: Bearer
        description: Bearer токен
        in: header
        name: Authorization
        required: true
        type: string
      - description: Почта
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/models.DeleteUserRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Пользователь успешно удалён
          schema:
            $ref: '#/definitions/models.DeleteUserResponse'
        "400":
          description: Некорректный JSON
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "404":
          description: Пользователь не найден
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "500":
          description: Ошибка при удалении пользователя
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Удаление пользователя
      tags:
      - admin
  /admin/students:
    get:
      description: Возвращает всех студентов из таблицы students.
      parameters:
      - default: Bearer
        description: Bearer токен
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Список студентов
          schema:
            items:
              $ref: '#/definitions/models.Student'
            type: array
        "500":
          description: Ошибка при запросе или чтении данных
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Получение списка студентов
      tags:
      - admin
  /admin/users:
    get:
      description: Возвращает всех зарегистрированных пользователей из таблицы users.
      parameters:
      - default: Bearer
        description: Bearer токен
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Список пользователей
          schema:
            items:
              $ref: '#/definitions/models.User'
            type: array
        "500":
          description: Ошибка при запросе или чтении данных
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Получение списка пользователей
      tags:
      - admin
  /auth/check:
    post:
      consumes:
      - application/json
      description: |-
        Проверяет наличие студенческого билета в системе.
        Если студент не зарегистрирован, генерирует временный токен для регистрации.
      parameters:
      - description: Номер студенческого билета
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/models.AuthBookRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Студенческий найден, выдан регистрационный токен" example({"status":"free","display_name":"Иван","group":"ШАД-111",
            "LinkToken":"raw_token_string","LinkTokenTtlSec":300})
          schema:
            $ref: '#/definitions/models.AuthStatus'
        "400":
          description: Некорректный запрос — ошибка парсинга JSON
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "404":
          description: Студенческий не найден в базе
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "409":
          description: Пользователь с таким номером уже зарегистрирован
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "500":
          description: Ошибка при генерации или сохранении токена
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      summary: Проверка студенческого в системе
      tags:
      - auth
  /auth/login:
    post:
      consumes:
      - application/json
      description: |-
        Проверяет почту и пароль пользователя.
        При успешной авторизации выдает пару access и refresh токенов.
      parameters:
      - description: Данные для входа (почта и пароль)
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/models.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Успешная авторизация — возвращается пользователь и пара токенов"
            example({"user":{"id":1,"first_name":"Иван","surname":"Иванов"},"session":{"auth":{"access_token":"token
            string", "refresh_token":"token string","expires_at":"2024-01-01T00:00:00Z"}}})
          schema:
            $ref: '#/definitions/models.LoginResponse'
        "400":
          description: Некорректный запрос — ошибка парсинга JSON
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "401":
          description: Неверная почта или пароль
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "404":
          description: Пользователь с такой почтой не найден
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "500":
          description: Ошибка сервера при работе с базой данных или токенами
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      summary: Авторизация пользователя
      tags:
      - auth
  /auth/refresh:
    post:
      consumes:
      - application/json
      description: Принимает refresh токен, проверяет его валидность и возвращает
        новую пару токенов.
      parameters:
      - description: Refresh токен
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/models.RefreshTokenRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Успешное обновление токенов
          schema:
            $ref: '#/definitions/models.RefreshTokenResponse'
        "400":
          description: Некорректный JSON
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "401":
          description: Невалидный или просроченный refresh токен
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "500":
          description: Ошибка при обновлении/генерации токенов
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      summary: Обновление access и refresh токенов
      tags:
      - auth
  /auth/register:
    post:
      consumes:
      - application/json
      description: Регистрирует нового пользователя на основе временного токена, выданного
        после проверки студенческого билета.
      parameters:
      - description: Почта, пароль и токен регистрации пользователя
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/models.RegisterRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Успешная регистрация
          schema:
            $ref: '#/definitions/models.RegisterResponse'
        "400":
          description: Некорректный запрос или формат данных
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "401":
          description: Токен не найден или истёк
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "404":
          description: Студент с такой почтой не найден
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "409":
          description: Пользователь с такой почтой уже существует
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "500":
          description: Ошибка сервера (база данных, хеширование, транзакция)
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      summary: Регистрация пользователя по токену
      tags:
      - auth
  /auth/reset_password:
    post:
      consumes:
      - application/json
      description: |-
        Отправляет на почту пользователя ссылку для сброса пароля.
        Если пользователь с указанной почтой существует — ему придёт письмо с временной ссылкой на установку нового пароля.
      parameters:
      - description: Почта пользователя
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/models.ResetPasswordRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Инструкция отправлена на почту
          schema:
            $ref: '#/definitions/models.ResetPasswordResponse'
        "400":
          description: Некорректный JSON
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "500":
          description: Ошибка при поиске пользователя или отправке письма
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      summary: Запрос на сброс пароля
      tags:
      - auth
  /auth/set_new_password:
    post:
      consumes:
      - application/json
      description: Устанавливает новый пароль по токену из письма. Токен действителен
        ограниченное время (15 минут).
      parameters:
      - description: Токен и новый пароль
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/models.SetNewPasswordRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Пароль успешно обновлён
          schema:
            $ref: '#/definitions/models.SetNewPasswordResponse'
        "400":
          description: Некорректный JSON
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "401":
          description: Невалидный или истекший токен
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "500":
          description: Ошибка при обновлении пароля
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      summary: Установка нового пароля
      tags:
      - auth
  /profile:
    get:
      description: Возвращает данные о пользователе
      parameters:
      - default: Bearer
        description: Bearer токен
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Данные о пользователе
          schema:
            $ref: '#/definitions/models.ProfileResponse'
        "500":
          description: Ошибка при запросе или чтении данных
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Получение профиля пользователя
      tags:
      - user
swagger: "2.0"
